Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/Makefile
src/Makefile.in
*.o
src/config.h
src/config.h.in
src/resized
src/stamp-h1
