*.o
*.lo
*.la
*.swp
Makefile.in
Makefile
configure
config.*
libpciemu-config.pc
libpciemu-config.pc.src
src/stamp-h1
version.sed
install-sh
missing
.libs
libpciemu-config
libpciemu-config.src
libpciemu.pc
libpciemu.pc.src
tags
compile
depcomp
app/fake-pci
ltmain.sh
m4
aclocal-copy
aclocal.m4
autom4te.m4
autom4te.cache
